header {
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 #888888;
    
    padding: 25px 76px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left_section {
    display: flex;
    align-items: center;
    
}

.logo_icon {
    width: 55px;
    height: 30px;
    text-decoration: none;
}

.logo_name {
    font-size: 32px;
    font-weight: 700;
    padding-left: 12px;
    color: black;
}

.bars {
    width: 34px;
    height: 24px;
}