.footer {
    background-color: #ffffff;
    border-top: 1px solid #888888;
}

.footer_text {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    padding: 12px 0;
}