* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Route의 Link 는 html의 <a>로 인식한다. */
a {
    text-decoration: none;
    color: black;
}

/* 모든 li 태그의 앞에 찍히는 점을 없앤다. */
li {
    list-style: none;
}